[submodule "blocks/birdidnews"]
	path = blocks/birdidnews
	url = https://github.com/TheGlobalATeam/moodle-blockplugn-birdidnews.git
[submodule "blocks/chessblock"]
	path = blocks/chessblock
	url = https://github.com/TheGlobalATeam/moodle-chessblock.git
[submodule "blocks/sitdinner"]
	path = blocks/sitdinner
	url = https://github.com/TheGlobalATeam/moodle-sitdinner.git
[submodule "lib/editor/atto/plugins/syntaxhighlighter"]
	path = lib/editor/atto/plugins/syntaxhighlighter
	url = https://github.com/TheGlobalATeam/moodle-atto_syntaxhighlighter.git
